.clickit,
.please {
    font-size: 28px;
    font-family: Halvetica, Times New Roman, sans-serif;

}

.clickit{
    background-color: blue;
    color: white;
}

.please{
    background-color: yellow;
}